:root {
  --primary-color: #f7f0e7;
  --secondary-color: #24b7b7;
  --tertiary-color: #5a215a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  body styles  */
body {
  background-color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;    
}


.header {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
}

.header h2 {
    font-weight: bold; 
    color:antiquewhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.nav {
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav li {
    color:antiquewhite;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
}

.nav li:hover {
  cursor: pointer;
}

.nav li.active {
  color:#5a215a;
}

footer {
  background: var(--secondary-color);
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  bottom: 0;
}

footer h3 {
  color: antiquewhite;
  margin: 0;  
}

.about {
  padding: 20px 40px;
}

.About-Me {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  width: 100%;
  flex-direction: row;
}

.bio {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  width: 65%;

}


.profile-links ul {
  color: antiquewhite;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.profile-links ul li {
  padding: 0px 30px;
}

.portfolio {
  display: flex;
  padding: 20px 20px;
  width: 100%;
  flex-direction: column;

}

.projects {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 20px 0px;
  flex-wrap: wrap;
  justify-content: space-around;

}

.project-titles {
  background-color:var(--primary-color);
  position: absolute;
  padding: 5px;
  border: solid 2px var(--secondary-color);

}


.project1 {
  background: url(./assets/images/parkour.jpg);
  background-size: cover;
  width: 500px;
  height: 150px;
  margin: 0px 0px 30px;
}

.project2 {
  background: url(./assets/images/techblog.jpg);
  background-size: cover;
  width: 500px;
  height: 150px;
  margin: 0px 0px 30px;
}
.project3 {
  background: url(./assets/images/marvelproject.jpg);
  background-size: cover;
  width: 500px;
  height: 150px;
  margin: 0px 0px 30px;
}
.project4 {
  background: url(./assets/images/notetaker.jpg);
  background-size: cover;
  width: 500px;
  height: 150px;
  margin: 0px 0px 30px;
}
.project5 {
  background: url(./assets/images/workday.jpg);
  background-size: cover;
  width: 500px;
  height: 150px;
  margin: 0px 0px 30px;
}
.project6 {
  background: url(./assets/images/social-network-api.jpg);
  background-size: cover;
  width: 500px;
  height: 150px;
  margin: 0px 0px 30px;
}

.resume {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  width: 100%;
}

.reslink {
  padding: 10px 0px 20px;
}

.skills {
  width: 65%;
  padding: 10px 0px;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  width: 100%;
}

.greeting {
  padding: 10px 0px;
}

.form-field {
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 30%;

}

.submit {
  margin: 5px;
  padding: 5px;
}

/* media queries */
@media only screen and (max-width: 820px) {
  section {
      padding: 20px 20px;
  }

  .About-Me {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 10px;
      width: 100%;
      flex-direction: column;
  }

 
  .bio {
      width: 80%;
  }

  .form-field {
    width: 50%;
  }
  
}



@media only screen and (max-width: 500px) {
  section {
      padding: 20px 20px;
  }

  .project1{
    width: 300px
  }

  .project2{
    width: 300px
  }

  .project3{
    width: 300px
  }

  .project4{
    width: 300px
  }

  .project5{
    width: 300px
  }

  .project6{
    width: 300px
  }

 .form-field {
  width: 60%;
 }
 
  
  
}